<a href="https://colab.research.google.com/github/Rohitg9234/webscrapping/blob/main/Analytics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from bs4 import BeautifulSoup
import pandas as pd
import requests

In [7]:
url="https://www.analyticsvidhya.com/blog/2023/04/data-science-companies/"
page=requests.get(url)
soup=BeautifulSoup(page.text,'html')

In [13]:
table=soup.find_all('table')[0]

In [30]:
column_data=table.find('tr')

for head in column_data:
  row=column_data.find_all('td')
  head=[data.text.strip() for data in row]

head

['Company', 'Average Salary (USD)']

In [33]:
df=pd.DataFrame(columns=[head])
df

Empty DataFrame
Columns: [(Company,), (Average Salary (USD),)]
Index: []

In [38]:
column_data=table.find_all('tr')
for column in column_data[1:]:
  row=column.find_all('td')
  lst=[data.text.strip() for data in row]
  length=len(df)
  df.loc[length]=lst

In [39]:
df

       Company Average Salary (USD)
0       Google             $141,000
1       Amazon             $119,000
2     Facebook             $135,000
3    Microsoft             $130,000
4          IBM             $105,000
5        Apple             $141,000
6      Netflix             $180,000
7         Uber             $139,000
8       Airbnb             $140,000
9      Twitter             $135,000
10   Accenture             $120,382
11  Databricks             $194,496
12    OpenText             $140,938
13      Splunk             $165,773
14     Unified             $127,133
15    Teradata             $151,474
16      Oracle             $181,426
17     Sisense             $135,253
18      NVIDIA             $194,029
19  Sumo Logic              $134898

In [40]:
df.to_csv("/content/companies.csv",index=False)